

<style>@import url('https://fonts.googleapis.com/css?family=VG5000-Regular_web:400&display=swap');.gps-515945257200780539 .gp-relative{position:relative}.gps-515945257200780539 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-515945257200780539 .gp-mb-0{margin-bottom:0}.gps-515945257200780539 .\!gp-inline{display:inline!important}.gps-515945257200780539 .gp-flex{display:flex}.gps-515945257200780539 .gp-grid{display:grid}.gps-515945257200780539 .\!gp-hidden{display:none!important}.gps-515945257200780539 .gp-hidden{display:none}.gps-515945257200780539 .gp-h-full{height:100%}.gps-515945257200780539 .gp-w-full{width:100%}.gps-515945257200780539 .gp-max-w-full{max-width:100%}.gps-515945257200780539 .gp-flex-col{flex-direction:column}.gps-515945257200780539 .gp-gap-y-0{row-gap:0}.gps-515945257200780539 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515945257200780539 .gp-duration-200{transition-duration:.2s}.gps-515945257200780539 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-515945257200780539 .tablet\:\!gp-hidden{display:none!important}.gps-515945257200780539 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-515945257200780539 .mobile\:\!gp-hidden{display:none!important}.gps-515945257200780539 .mobile\:gp-hidden{display:none}}.gps-515945257200780539 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-515945257200780539 .\[\&_p\]\:gp-inline p{display:inline}.gps-515945257200780539 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-515945257200780539 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="grsUQy5GT9"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--pt-mobile:auto;--pb-mobile:auto;--cg:auto;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url(), linear-gradient(252deg, #ECDDC2 0%, #FFFFFF 100%);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grsUQy5GT9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:0"
      class="gFzTVoPIQj gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gNMB8HCecV"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNMB8HCecV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center;--o-mobile:1"
      class="gbg9QkQet1 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gV_utwG1G8"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:var(undefined);--mb-mobile:var(undefined);--pb-mobile:var(--g-s-xl);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_512109010883707816-a83c83c9-1e3a-4810-aa84-075d20e45f7f.jpg" | file_url }}" width="1080" height="1350" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:auto;--aspect-tablet:1080/1350;--aspect-mobile:auto;--objf:contain;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_512109010883707816-a83c83c9-1e3a-4810-aa84-075d20e45f7f.jpg" | file_url }}" data-srcset="{{ 'gempages_512109010883707816-a83c83c9-1e3a-4810-aa84-075d20e45f7f.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_512109010883707816-a83c83c9-1e3a-4810-aa84-075d20e45f7f.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_512109010883707816-a83c83c9-1e3a-4810-aa84-075d20e45f7f.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1080" height="1350" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:auto;--aspect-tablet:1080/1350;--aspect-mobile:auto;--objf:contain;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center;--o-mobile:0"
      class="g9LuKfY63V gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gCYAyYmjdC"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--pl:0px;--pr:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:15px;--pb-mobile:var(--g-s-2xl);--pr-mobile:15px;--pl-tablet:15px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:570px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCYAyYmjdC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4s4UHrxsQ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gJBacpHpY7 "
        style="--tt:default;--ta:left;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:16px;--pl:16px;--mb-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--c:#121212;--fs:normal;--ff:var(--g-font-VG5000-Regular_web, 'VG5000-Regular_web'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggJBacpHpY7_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gDWQgv_MnN "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pl:16px;--pr:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-VG5000-Regular_web, 'VG5000-Regular_web'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDWQgv_MnN_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gDWQgv_MnN"
      >.gDWQgv_MnN {

}
.gDWQgv_MnN p {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-515945257200780539 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/divoominternational/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=515809849766839436&sectionId=515945257200780539)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"html","id":"ggJBacpHpY7_text","label":"ggJBacpHpY7_text","default":"A perfect gift for your friends and family"},{"type":"html","id":"ggDWQgv_MnN_text","label":"ggDWQgv_MnN_text","default":"<p>What could be a more perfect gift than a versatile, nostalgic Bluetooth speaker that lets you unleash your creativity? With its customizable pixel art display, Bluetooth speaker capabilities, and practical functions like an alarm clock, this device offers both entertainment and utility for individuals of all ages and interests. Its innovative design seamlessly blends retro charm with modern technology, making it a distinctive and heartfelt gift option.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
