

<style>@import url('https://fonts.googleapis.com/css?family=VG5000-Regular_web:400&display=swap');.gps-512149115124057000 .gp-relative{position:relative}.gps-512149115124057000 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512149115124057000 .gp-mb-0{margin-bottom:0}.gps-512149115124057000 .\!gp-inline{display:inline!important}.gps-512149115124057000 .gp-flex{display:flex}.gps-512149115124057000 .gp-grid{display:grid}.gps-512149115124057000 .\!gp-hidden{display:none!important}.gps-512149115124057000 .gp-hidden{display:none}.gps-512149115124057000 .gp-h-full{height:100%}.gps-512149115124057000 .gp-w-full{width:100%}.gps-512149115124057000 .gp-max-w-full{max-width:100%}.gps-512149115124057000 .gp-flex-col{flex-direction:column}.gps-512149115124057000 .gp-gap-y-0{row-gap:0}.gps-512149115124057000 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512149115124057000 .gp-duration-200{transition-duration:.2s}.gps-512149115124057000 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-512149115124057000 .tablet\:\!gp-hidden{display:none!important}.gps-512149115124057000 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512149115124057000 .mobile\:\!gp-hidden{display:none!important}.gps-512149115124057000 .mobile\:gp-hidden{display:none}}.gps-512149115124057000 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512149115124057000 .\[\&_p\]\:gp-inline p{display:inline}.gps-512149115124057000 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-512149115124057000 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gswc2II5ts"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(undefined);--pb:var(undefined);--cg:auto;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url(), linear-gradient(130deg, #EFE2FF 0%, #FFFFFF 59%);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gswc2II5ts gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gqOtqZBNin gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gCYAyYmjdC"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--pl:0px;--pr:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:15px;--pb-mobile:var(--g-s-2xl);--pr-mobile:15px;--pl-tablet:15px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:570px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCYAyYmjdC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4s4UHrxsQ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gJBacpHpY7 "
        style="--tt:default;--ta:left;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:16px;--pl:16px;--mb-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--c:#121212;--fs:normal;--ff:var(--g-font-VG5000-Regular_web, 'VG5000-Regular_web'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggJBacpHpY7_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gDWQgv_MnN "
        style="--ta:left;--pl:16px;--pr:16px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-VG5000-Regular_web, 'VG5000-Regular_web'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDWQgv_MnN_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gDWQgv_MnN"
      >.gDWQgv_MnN {

}
.gDWQgv_MnN p {

}</style>
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gNEIGisR2o gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gV_utwG1G8"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_512109010883707816-804ca2bf-68ef-4aef-8133-6fbc110065cf.png" | file_url }}" width="2000" height="1581" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2000/1581;--aspect-tablet:2000/1581;--aspect-mobile:2000/1581;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_512109010883707816-804ca2bf-68ef-4aef-8133-6fbc110065cf.png" | file_url }}" data-srcset="{{ 'gempages_512109010883707816-804ca2bf-68ef-4aef-8133-6fbc110065cf.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_512109010883707816-804ca2bf-68ef-4aef-8133-6fbc110065cf.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_512109010883707816-804ca2bf-68ef-4aef-8133-6fbc110065cf.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="1581" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2000/1581;--aspect-tablet:2000/1581;--aspect-mobile:2000/1581;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-512149115124057000 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/divoominternational/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=512109384394867848&sectionId=512149115124057000)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"html","id":"ggJBacpHpY7_text","label":"ggJBacpHpY7_text","default":"Lovely packaging"},{"type":"html","id":"ggDWQgv_MnN_text","label":"ggDWQgv_MnN_text","default":"<p>With its charming packaging and distinctive design, it's the perfect gift for birthdays, Christmas, graduations, Valentine’s Day, and any other special occasion worth celebrating.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
