

<style>@import url('https://fonts.googleapis.com/css?family=VG5000-Regular_web:400&display=swap');.gps-516588628789429051 .-gp-translate-x-1\/2,.gps-516588628789429051 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-516588628789429051 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-516588628789429051 .gp-visible{visibility:visible}.gps-516588628789429051 .gp-invisible{visibility:hidden}.gps-516588628789429051 .gp-absolute{position:absolute}.gps-516588628789429051 .gp-relative{position:relative}.gps-516588628789429051 .gp-left-1\/2{left:50%}.gps-516588628789429051 .gp-top-1\/2{top:50%}.gps-516588628789429051 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-516588628789429051 .gp-mb-0{margin-bottom:0}.gps-516588628789429051 .gp-flex{display:flex}.gps-516588628789429051 .gp-inline-flex{display:inline-flex}.gps-516588628789429051 .gp-grid{display:grid}.gps-516588628789429051 .\!gp-hidden{display:none!important}.gps-516588628789429051 .gp-hidden{display:none}.gps-516588628789429051 .gp-h-full{height:100%}.gps-516588628789429051 .gp-w-\[68px\]{width:68px}.gps-516588628789429051 .gp-w-full{width:100%}.gps-516588628789429051 .\!gp-max-w-none{max-width:none!important}.gps-516588628789429051 .gp-max-w-full{max-width:100%}.gps-516588628789429051 .gp-shrink-0{flex-shrink:0}.gps-516588628789429051 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-516588628789429051 .-gp-translate-x-1\/2,.gps-516588628789429051 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-516588628789429051 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-516588628789429051 .gp-flex-col{flex-direction:column}.gps-516588628789429051 .gp-items-center{align-items:center}.gps-516588628789429051 .gp-justify-center{justify-content:center}.gps-516588628789429051 .gp-gap-y-0{row-gap:0}.gps-516588628789429051 .gp-overflow-hidden{overflow:hidden}.gps-516588628789429051 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-516588628789429051 .gp-bg-cover{background-size:cover}.gps-516588628789429051 .gp-bg-center{background-position:50%}.gps-516588628789429051 .gp-text-left{text-align:left}.gps-516588628789429051 .gp-opacity-100{opacity:1}.gps-516588628789429051 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-516588628789429051 .gp-duration-200{transition-duration:.2s}.gps-516588628789429051 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-516588628789429051 .tablet\:\!gp-hidden{display:none!important}.gps-516588628789429051 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-516588628789429051 .mobile\:\!gp-hidden{display:none!important}.gps-516588628789429051 .mobile\:gp-hidden{display:none}}.gps-516588628789429051 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-516588628789429051 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1023px){.gps-516588628789429051 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-516588628789429051 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-516588628789429051 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-516588628789429051 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-516588628789429051 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-516588628789429051 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1023px){.gps-516588628789429051 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-516588628789429051 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-516588628789429051 .\[\&_p\]\:gp-inline p{display:inline}.gps-516588628789429051 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-516588628789429051 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gFtU2dOY6l"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:var(--g-s-l);--pb:var(--g-s-4xl);--pr:var(--g-s-l);--pt-mobile:var(--g-s-3xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-l);--cg:0px;--cg-tablet:0px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:transparent;--bgi:url(), linear-gradient(130deg, #FFE6D1 0%, #FFFFFF 100%);--bgi-mobile:url(), linear-gradient(130deg, #FFE6D1 0%, #FFFFFF 100%);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gFtU2dOY6l gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:0"
      class="gjNuZhyscX gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g5STcqd1q8"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5STcqd1q8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="g3T_7EL5nI gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gIfecyKxBi"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--aspect:auto"
    >
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"auto"},"videoTitle":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/UW4IHCQXhrc?autoplay=1&state=1&mute=1&&controls=1"}'>
      
      
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=');--aspect:auto"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      id="gp-video-gIfecyKxBi"
      
      draggable="false"
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg"
      src="https://i.ytimg.com/vi/UW4IHCQXhrc/hqdefault.jpg" width="800" height="533" alt="Poster"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style=""
    />
  {%- else -%}
    <img
      id="gp-video-gIfecyKxBi"
      
      draggable="false"
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
      data-src="https://i.ytimg.com/vi/UW4IHCQXhrc/hqdefault.jpg" data-srcset="https://i.ytimg.com/vi/UW4IHCQXhrc/hqdefault.jpg 768w,https://i.ytimg.com/vi/UW4IHCQXhrc/hqdefault.jpg 1024w,https://i.ytimg.com/vi/UW4IHCQXhrc/hqdefault.jpg 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="800" height="533" alt="Poster"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style=""
    />
  {%- endif -%}
  
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-youtube-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style
        id="custom-css-gIfecyKxBi"
      >.gIfecyKxBi[data-component-label="Video"] {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="g5e_4YmGUM gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gaTi5TbOUv"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-small);--pl:var(--g-s-2xl);--pr:15px;--pt-mobile:var(--g-s-m);--pl-mobile:15px;--pb-mobile:auto;--pr-mobile:15px;--pt-tablet:auto;--pl-tablet:15px;--pb-tablet:auto;--pr-tablet:15px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#00000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gaTi5TbOUv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0yTvjolxm gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g6cvqzMf3M "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-small);--mb-mobile:var(--g-s-xl);--pl-mobile:auto;--pr-mobile:auto"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-VG5000-Regular_web, 'VG5000-Regular_web'), var(--g-font-heading, heading);--weight:600;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg6cvqzMf3M_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    <div style="" class="gcgupsOlA8 ">
      
    <gp-icon-list
      uid="gcgupsOlA8"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":16,"tablet":16}}'
       style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pos:relative;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pl:var(--g-s-2xl);--mb-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-l);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
    >
     
      <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px"
        >
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#716DD0;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817580799492456">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208,144H140V98.32a44,44,0,1,0-24,0V144H48a20,20,0,0,0-20,20v44a20,20,0,0,0,20,20H208a20,20,0,0,0,20-20V164A20,20,0,0,0,208,144ZM108,56a20,20,0,1,1,20,20A20,20,0,0,1,108,56Zm96,148H52V168H204ZM172,104h32a12,12,0,0,1,0,24H172a12,12,0,0,1,0-24Z" /></svg>
              </span>
            </div>
             <div class="gp-g-paragraph-1 gp-text-left gp-icon-list-text" style="--c:#121212">
                {{ section.settings.ggcgupsOlA8_childItem_0 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#716DD0;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817584340140392">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208,36H48A28,28,0,0,0,20,64V176a28,28,0,0,0,28,28H208a28,28,0,0,0,28-28V64A28,28,0,0,0,208,36Zm4,140a4,4,0,0,1-4,4H48a4,4,0,0,1-4-4V64a4,4,0,0,1,4-4H208a4,4,0,0,1,4,4Zm-40,52a12,12,0,0,1-12,12H96a12,12,0,0,1,0-24h64A12,12,0,0,1,172,228Z" /></svg>
              </span>
            </div>
             <div class="gp-g-paragraph-1 gp-text-left gp-icon-list-text" style="--c:#121212">
                {{ section.settings.ggcgupsOlA8_childItem_1 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#716DD0;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817595011105128">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M178.39,158c-11,19.06-29.39,30-50.39,30s-39.36-10.93-50.39-30a12,12,0,0,1,20.78-12c3.89,6.73,12.91,18,29.61,18s25.72-11.28,29.61-18a12,12,0,1,1,20.78,12ZM236,128A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128ZM92,124a16,16,0,1,0-16-16A16,16,0,0,0,92,124Zm72-32a16,16,0,1,0,16,16A16,16,0,0,0,164,92Z" /></svg>
              </span>
            </div>
             <div class="gp-g-paragraph-1 gp-text-left gp-icon-list-text" style="--c:#121212">
                {{ section.settings.ggcgupsOlA8_childItem_2 }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:8px;--ai:left"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#716DD0;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817572701143400">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216,68H190.06A33.82,33.82,0,0,0,196,49.69,36.62,36.62,0,0,0,158.31,12,33.44,33.44,0,0,0,134,23.25a54.65,54.65,0,0,0-6,8.3,54.65,54.65,0,0,0-6-8.3A33.44,33.44,0,0,0,97.69,12,36.62,36.62,0,0,0,60,49.69,33.82,33.82,0,0,0,65.94,68H40A20,20,0,0,0,20,88v32a20,20,0,0,0,16,19.6V200a20,20,0,0,0,20,20H200a20,20,0,0,0,20-20V139.6A20,20,0,0,0,236,120V88A20,20,0,0,0,216,68Zm-4,48H140V92h72ZM152,39.17A9.59,9.59,0,0,1,159,36h.35A12.62,12.62,0,0,1,172,49,9.59,9.59,0,0,1,168.83,56c-6.9,6.12-18.25,9.26-27.63,10.76C142.7,57.42,145.84,46.07,152,39.17ZM87.7,39.7A12.8,12.8,0,0,1,96.61,36H97A9.59,9.59,0,0,1,104,39.17c6.12,6.9,9.26,18.24,10.75,27.61C105.45,65.27,94,62.13,87.17,56A9.59,9.59,0,0,1,84,49,12.72,12.72,0,0,1,87.7,39.7ZM44,92h72v24H44Zm16,48h56v56H60Zm80,56V140h56v56Z" /></svg>
              </span>
            </div>
             <div class="gp-g-paragraph-1 gp-text-left gp-icon-list-text" style="--c:#121212">
                {{ section.settings.ggcgupsOlA8_childItem_3 }}
            </div>
            </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-516588628789429051 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/divoominternational/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=516588628638434107&sectionId=516588628789429051)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"html","id":"gg6cvqzMf3M_text","label":"gg6cvqzMf3M_text","default":"What is Pixoo?"},{"type":"html","id":"ggcgupsOlA8_childItem_0","label":"ggcgupsOlA8_childItem_0","default":"<p>A functional display&nbsp;</p>"},{"type":"html","id":"ggcgupsOlA8_childItem_1","label":"ggcgupsOlA8_childItem_1","default":"<p>A creativity outlet&nbsp;</p>"},{"type":"html","id":"ggcgupsOlA8_childItem_2","label":"ggcgupsOlA8_childItem_2","default":"<p>A gadget to relive the golden age of gaming and pixelated art&nbsp;</p>"},{"type":"html","id":"ggcgupsOlA8_childItem_3","label":"ggcgupsOlA8_childItem_3","default":"<p>A perfect gift&nbsp;</p>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
