

<style>@import url('https://fonts.googleapis.com/css?family=VG5000-Regular_web:400&display=swap');.gps-516588628839760699 .gp-relative{position:relative}.gps-516588628839760699 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-516588628839760699 .gp-mb-0{margin-bottom:0}.gps-516588628839760699 .\!gp-inline{display:inline!important}.gps-516588628839760699 .gp-flex{display:flex}.gps-516588628839760699 .gp-grid{display:grid}.gps-516588628839760699 .\!gp-hidden{display:none!important}.gps-516588628839760699 .gp-hidden{display:none}.gps-516588628839760699 .gp-h-full{height:100%}.gps-516588628839760699 .gp-w-full{width:100%}.gps-516588628839760699 .gp-max-w-full{max-width:100%}.gps-516588628839760699 .gp-flex-col{flex-direction:column}.gps-516588628839760699 .gp-gap-y-0{row-gap:0}.gps-516588628839760699 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-516588628839760699 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-516588628839760699 .gp-duration-200{transition-duration:.2s}.gps-516588628839760699 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-516588628839760699 .tablet\:\!gp-hidden{display:none!important}.gps-516588628839760699 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-516588628839760699 .mobile\:\!gp-hidden{display:none!important}.gps-516588628839760699 .mobile\:gp-hidden{display:none}}.gps-516588628839760699 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-516588628839760699 .\[\&_p\]\:gp-inline p{display:inline}.gps-516588628839760699 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-516588628839760699 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="goQoy4nMYj"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:auto;--pl-mobile:auto;--pb-mobile:var(--g-s-xl);--pr-mobile:auto;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:transparent;--bgi:url(), linear-gradient(111deg, #FAC3FF 3%, #FFFFFF 100%);--bgi-mobile:url(), linear-gradient(111deg, #FAC3FF 0%, #FFFFFF 100%);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="goQoy4nMYj gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDGIocAkC_ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gEclOrI4yN"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pb:auto;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEclOrI4yN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:1"
      class="gm4_nU-5h_ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gjPIPeE5PC"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjPIPeE5PC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gw-tLtt_59 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gpw-VrNKKb"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_512109010883707816-5689707a-72c8-4230-8772-1a373e04a347.jpg" | file_url }}" width="1600" height="1600" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1600/1600;--aspect-tablet:1600/1600;--aspect-mobile:1600/1600;--objf:cover;--objf-mobile:cover;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_512109010883707816-5689707a-72c8-4230-8772-1a373e04a347.jpg" | file_url }}" data-srcset="{{ 'gempages_512109010883707816-5689707a-72c8-4230-8772-1a373e04a347.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_512109010883707816-5689707a-72c8-4230-8772-1a373e04a347.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_512109010883707816-5689707a-72c8-4230-8772-1a373e04a347.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1600" height="1600" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1600/1600;--aspect-tablet:1600/1600;--aspect-mobile:1600/1600;--objf:cover;--objf-mobile:cover;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gpw-VrNKKb"
      >.gpw-VrNKKb {

}
.gpw-VrNKKb > figure > img {

}</style>
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-mobile:0"
      class="giR43RWDH9 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gnoGr220TP "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:var(--g-s-l);--mt-mobile:var(--g-s-2xl);--mb-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-VG5000-Regular_web, 'VG5000-Regular_web'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggnoGr220TP_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gTU3oHyYIq "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pl:var(--g-s-l);--pr:var(--g-s-l);--mt-mobile:auto;--mb-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-VG5000-Regular_web, 'VG5000-Regular_web'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTU3oHyYIq_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gTU3oHyYIq"
      >.gTU3oHyYIq {

}
.gTU3oHyYIq p {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-516588628839760699 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/divoominternational/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=516588628638434107&sectionId=516588628839760699)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"html","id":"ggnoGr220TP_text","label":"ggnoGr220TP_text","default":"Start your pixel art journey!"},{"type":"html","id":"ggTU3oHyYIq_text","label":"ggTU3oHyYIq_text","default":"<p>Unleash your creativity with easy-to-create pixel art designs at your fingertips, or explore over 1000+ designs in our free pixel art community on the Divoom app, easily connectable via 4G or 2G WiFi.</p>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
