

<style>@import url('https://fonts.googleapis.com/css?family=VG5000-Regular_web:400&display=swap');.gps-512178673474864239 .gp-relative{position:relative}.gps-512178673474864239 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512178673474864239 .gp-mb-0{margin-bottom:0}.gps-512178673474864239 .\!gp-inline{display:inline!important}.gps-512178673474864239 .gp-flex{display:flex}.gps-512178673474864239 .gp-grid{display:grid}.gps-512178673474864239 .\!gp-hidden{display:none!important}.gps-512178673474864239 .gp-hidden{display:none}.gps-512178673474864239 .gp-h-full{height:100%}.gps-512178673474864239 .gp-w-full{width:100%}.gps-512178673474864239 .gp-max-w-full{max-width:100%}.gps-512178673474864239 .gp-flex-col{flex-direction:column}.gps-512178673474864239 .gp-gap-y-0{row-gap:0}.gps-512178673474864239 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-512178673474864239 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512178673474864239 .gp-duration-200{transition-duration:.2s}.gps-512178673474864239 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-512178673474864239 .tablet\:\!gp-hidden{display:none!important}.gps-512178673474864239 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512178673474864239 .mobile\:\!gp-hidden{display:none!important}.gps-512178673474864239 .mobile\:gp-hidden{display:none}}.gps-512178673474864239 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512178673474864239 .\[\&_p\]\:gp-inline p{display:inline}.gps-512178673474864239 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-512178673474864239 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gDXZbgeWLS"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--mb-mobile:auto;--pt-mobile:0px;--pl-mobile:auto;--pb-mobile:var(--g-s-2xl);--pr-mobile:auto;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:transparent;--bgi:url(), linear-gradient(130deg, #F5B8FC 0%, #FFFFFF 100%);--bgi-mobile:url(), linear-gradient(89deg, #EFE2FF 0%, #FFFFFF 100%);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDXZbgeWLS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gved38Uj-A gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gvQNGLeDXW"
        style="--pb:auto;--pl-mobile:auto;--pb-mobile:auto;--pr-mobile:auto;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvQNGLeDXW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gshhnjLp2o gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gxC-SZfdAy "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pl:var(--g-s-l);--mt-mobile:var(--g-s-3xl);--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-VG5000-Regular_web, 'VG5000-Regular_web'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggxC-SZfdAy_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gB66I01I-T "
        style="--ta:left;--pl:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-l);--pb-mobile:auto;--pr-mobile:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-VG5000-Regular_web, 'VG5000-Regular_web'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggB66I01I-T_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gB66I01I-T"
      >.gB66I01I-T {

}
.gB66I01I-T p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="g92c-UEYI8 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gFlvGXssed"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center;--ta-mobile:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_512109010883707816-c2bde25d-35c2-4871-9494-1b73fe17359e.jpg" | file_url }}" width="750" height="1000" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:750/1000;--aspect-tablet:750/1000;--aspect-mobile:750/1000;--objf:cover;--w:450px;--w-tablet:450px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_512109010883707816-c2bde25d-35c2-4871-9494-1b73fe17359e.jpg" | file_url }}" data-srcset="{{ 'gempages_512109010883707816-c2bde25d-35c2-4871-9494-1b73fe17359e.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_512109010883707816-c2bde25d-35c2-4871-9494-1b73fe17359e.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_512109010883707816-c2bde25d-35c2-4871-9494-1b73fe17359e.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="750" height="1000" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:750/1000;--aspect-tablet:750/1000;--aspect-mobile:750/1000;--objf:cover;--w:450px;--w-tablet:450px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gFlvGXssed"
      >.gFlvGXssed {

}
.gFlvGXssed > figure > img {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-512178673474864239 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/divoominternational/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=512178673374200943&sectionId=512178673474864239)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"html","id":"ggxC-SZfdAy_text","label":"ggxC-SZfdAy_text","default":"Unleash your creativity!"},{"type":"html","id":"ggB66I01I-T_text","label":"ggB66I01I-T_text","default":"<p>Elevate any space with Times Gate, a futuristic marvel featuring five full-color LCD pixel displays.&nbsp;</p><p>&nbsp;</p><p>Customize vibrant 128x128 pixel art and animated GIFs effortlessly with the Divoom Smart App, turning your gaming setup or workspace into a visually stunning masterpiece.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
