

<style>@import url('https://fonts.googleapis.com/css?family=VG5000-Regular_web:400&display=swap');.gps-512165188787504239 .gp-relative{position:relative}.gps-512165188787504239 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512165188787504239 .gp-mb-0{margin-bottom:0}.gps-512165188787504239 .\!gp-inline{display:inline!important}.gps-512165188787504239 .gp-flex{display:flex}.gps-512165188787504239 .gp-grid{display:grid}.gps-512165188787504239 .\!gp-hidden{display:none!important}.gps-512165188787504239 .gp-hidden{display:none}.gps-512165188787504239 .gp-h-full{height:100%}.gps-512165188787504239 .gp-w-full{width:100%}.gps-512165188787504239 .gp-max-w-full{max-width:100%}.gps-512165188787504239 .gp-flex-col{flex-direction:column}.gps-512165188787504239 .gp-gap-y-0{row-gap:0}.gps-512165188787504239 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512165188787504239 .gp-duration-200{transition-duration:.2s}.gps-512165188787504239 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-512165188787504239 .tablet\:\!gp-hidden{display:none!important}.gps-512165188787504239 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512165188787504239 .mobile\:\!gp-hidden{display:none!important}.gps-512165188787504239 .mobile\:gp-hidden{display:none}}.gps-512165188787504239 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512165188787504239 .\[\&_p\]\:gp-inline p{display:inline}.gps-512165188787504239 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-512165188787504239 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="ghGZ0eAi0V"
        style="--pt:40px;--pb:40px;--pt-mobile:auto;--pb-mobile:var(--g-s-xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghGZ0eAi0V gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g6P_v5fzYW gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gq3Xgf2xe7"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gq3Xgf2xe7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gSZgYO11qp gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gMQ0MB-S9a "
        style="--ta:left;--mb:var(--g-s-l);--mb-mobile:var(--g-s-l);--pl-mobile:32px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--ff:var(--g-font-VG5000-Regular_web, 'VG5000-Regular_web'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:35px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMQ0MB-S9a_text }}</h2>
      </div>
    </div><div
    
    role="presentation"
    class="gp-group/image gpSXHHh9gP"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_512109010883707816-f36e6cdb-27d9-44ef-8b1c-7c16c97bb7f3.jpg" | file_url }}" width="1920" height="1080" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1920/1080;--aspect-tablet:1920/1080;--aspect-mobile:1920/1080;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_512109010883707816-f36e6cdb-27d9-44ef-8b1c-7c16c97bb7f3.jpg" | file_url }}" data-srcset="{{ 'gempages_512109010883707816-f36e6cdb-27d9-44ef-8b1c-7c16c97bb7f3.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_512109010883707816-f36e6cdb-27d9-44ef-8b1c-7c16c97bb7f3.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_512109010883707816-f36e6cdb-27d9-44ef-8b1c-7c16c97bb7f3.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1920" height="1080" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1920/1080;--aspect-tablet:1920/1080;--aspect-mobile:1920/1080;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gpSXHHh9gP"
      >.gpSXHHh9gP {

}
.gpSXHHh9gP > figure > img {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-512165188787504239 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/divoominternational/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=512165188519068783&sectionId=512165188787504239)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"html","id":"ggMQ0MB-S9a_text","label":"ggMQ0MB-S9a_text","default":"Voice Control with Alexa"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
