{%- if section.blocks.size > 0 -%}
  {%- render 'section-spacing-collapsing' -%}

  <style>
    #shopify-section-{{ section.id }} {
      --testimonial-list-items-per-row: 1;
      --testimonial-list-carousel-item-width: 74vw;

      --testimonial-list-grid: {% if section.settings.stack_testimonials %}auto / repeat(var(--testimonial-list-items-per-row), minmax(0, 1fr)){% else %}auto / auto-flow var(--testimonial-list-carousel-item-width){% endif %};
    }

    #shopify-section-{{ section.id }} .scrollbar {
      {%- assign controls_color = section.settings.text_color | default: section.settings.heading_color | default: settings.text_color -%}
      --text-color: {{ controls_color.rgb }};
    }

    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --testimonial-list-items-per-row: 2;
        --testimonial-list-carousel-item-width: 52vw;
      }
    }

    @media screen and (min-width: 1000px) {
      #shopify-section-{{ section.id }} {
        --testimonial-list-carousel-item-width: 36vw;
      }
    }

    @media screen and (min-width: 1150px) {
      #shopify-section-{{ section.id }} {
        --testimonial-list-items-per-row: 3;
        --testimonial-list-carousel-item-width: calc(100% / 2 - (var(--grid-gutter) / 3 * 2));
      }
    }
  </style>

  <div
    {% render 'section-properties' %}
    style=" background-image:url({{ section.settings.bg_image | img_url:'master' }});background-size:100%;background-position:center;"
  >
    <div class="section-stack testi-TS">
      <div class="home-testimonials-wrapper">
        <div class="home-testimonial-header">
          {%- render 'section-header',
            subheading: section.settings.subheading,
            heading: section.settings.title,
            heading_color: section.settings.heading_color,
            heading_gradient: section.settings.heading_gradient,
            content: section.settings.content,
            link_text: section.settings.link_text,
            link_url: section.settings.link_url
          -%}
          <div class="ht-custom-arrows">
            <span class="ht-prev"><img src="{{ 'Arrow-left.png' | asset_url }}"></span>
            <span class="ht-next"><img src="{{ 'Arrow-right.png' | asset_url }}"></span>
          </div>
        </div>
        <div class="home-testimonial-content">
          <div class="testimonial-slideshow testimonial-list">
            {%- for block in section.blocks -%}
              <div
                {% render 'surface',
                  class: 'testimonial rounded-sm',
                  background: section.settings.testimonial_card_background,
                  text_color: section.settings.testimonial_card_text_color,
                  background_fallback: 'bg-secondary'
                %}
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.image != blank or block.settings.author != blank or block.settings.show_rating -%}
                  {%- liquid
                    assign loading_strategy = null

                    if section.index > 3 or forloop.index > 3
                      assign loading_strategy = 'lazy'
                    endif
                  -%}

                  <div class="testi-author_info-wrapper h-stack align-start gap-4 sm:gap-6">
                    {%- if block.settings.image != blank or block.settings.author != blank -%}
                      <div class="testi-author_image-left">
                      {%- capture image_class -%}testimonial__image {% if block.settings.round_avatar %}rounded-full{% endif %}{%- endcapture -%}
                      {{-
                        block.settings.image
                        | image_url: width: block.settings.image.width
                        | image_tag:
                          loading: loading_strategy,
                          sizes: '(max-width: 699px) 40px, 56px',
                          widths: '40,56,80,112,120,168',
                          class: image_class
                      -}}
                         {%- if block.settings.author != blank -%}
                        <div class="testi-author_info-left">
                        <p class="testi-author_name">{{ block.settings.author | escape }}</p>
                        <p class="testi-author_info text-subdued">{{ block.settings.author_info }}</p>
                        </div>
                      {%- endif -%}
                      </div>
                       
                    {%- endif -%}

                      

                    <div class="testi-rating-stars">
                 

                  
                           {%- if block.settings.show_rating -%}
                        <div class="rating">
                          <div
                            class="rating__stars"
                            role="img"
                            aria-label="{{ 'general.rating.info' | t: rating_value: block.settings.rating, rating_max: 5 }}"
                          >
                            {%- for i in (1..5) -%}
                              <svg
                                width="19"
                                height="19"
                                viewBox="0 0 19 19"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path d="M9.86441 0.424988L12.3838 7.04124L19 9.56058L12.3838 12.0799L9.86441 18.6962L7.34508 12.0799L0.728821 9.56058L7.34508 7.04124L9.86441 0.424988Z" fill="#F1CC46"/>
                              </svg>
                            {%- endfor -%}
                          </div>
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}

                {%- if block.settings.title != blank or block.settings.content != blank -%}
                  <div class="v-stack gap-2 sm:gap-4.5">
                    {%- if block.settings.title != blank -%}
                      <p class="bold">{{ block.settings.title | escape }}</p>
                    {%- endif -%}

                    {{- block.settings.content -}}


                    {% if block.settings.r_image != blank or block.settings.r_image_2 != blank or block.settings.r_image_3 != blank %}
                    <div class="review-images-wrapper">
                    {% if block.settings.r_image != blank %} 
                      <div class="ri-image">
                        <div class="ri-img">
                      <img src="{{ block.settings.r_image | img_url:'master' }}" />
                        </div>
                      </div>
                    {% endif %}
                    {% if block.settings.r_image_2 != blank %}   
                      <div class="ri-image">
                        <div class="ri-img">
                      <img src="{{ block.settings.r_image_2 | img_url:'master' }}" />
                        </div>
                      </div>
                    {% endif %}                      
                    {% if block.settings.r_image_3 != blank %}   
                      <div class="ri-image">
                        <div class="ri-img">
                      <img src="{{ block.settings.r_image_3 | img_url:'master' }}" />
                        </div>
                      </div>
                    {% endif %}
                    </div>
                    {% endif %}
                  </div>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Home Testimonials",
  "class": "shopify-section--testimonials",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "tag": "section",
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Avatar",
          "info": "250 x 250px .jpg recommended"
        },
        {
          "type": "checkbox",
          "id": "round_avatar",
          "label": "Round avatar",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "label": "Show rating",
          "default": true
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
           {
          "type": "text",
          "id": "author_info",
          "label": "Author Info",
             "default":"Seatle, USA"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Testimonial"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>"
        },
        {
          "type": "header",
          "content": "Review Images"
        },
        {
          "type": "image_picker",
          "id": "r_image",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "r_image_2",
          "label": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "r_image_3",
          "label": "Image 3"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    },
    {
      "type": "color",
      "id": "testimonial_card_background",
      "label": "Testimonial card background"
    },
    {
      "type": "color",
      "id": "testimonial_card_text_color",
      "label": "Testimonial card text"
    }
  ],
  "presets": [
    {
      "name": "Home Testimonials",
      "blocks": [
        {
          "type": "testimonial",
          "settings": {
            "author": "John S.",
            "title": "Testimonial 1",
            "content": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "author": "Mary U.",
            "title": "Testimonial 2",
            "content": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "author": "Joshua A.",
            "title": "Testimonial 3",
            "content": "<p>Share what your customers are saying about your products, customer service or shipping rates.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
