{%- render 'section-spacing-collapsing' -%}

{%- assign text_position = section.settings.text_position -%}

<style>
  #shopify-section-{{ section.id }} #product-text-video-custom {
    --gradient: linear-gradient(261.01deg, rgba(248, 242, 250, 1), rgba(255, 255, 255, 1) 100%);
    --background: 248, 242, 250;
    background-image: var(--gradient);
  }
  #shopify-section-{{ section.id }} {
    --section-stack-intro: {% if text_position == 'center' %}66.6667%{% else %}50%{% endif %};
    --section-stack-main: 50%;
  }
</style>

<div {% render 'section-properties' %} id="{{ section.settings.class }}">
  <div class="faq-video text-with-video-custom section-stack section-stack--center">

    {%- if section.settings.main-title != blank -%}
    <div class="main-header">
      {%- if section.settings.main-subheading != blank -%}
        <p class="subheading section-subheading">{{ section.settings.main-subheading | escape }}</p>
      {%- endif -%}

      {%- if section.settings.main-title != blank -%}
        <h2 class="h2 section-header_title">
          {%- render 'styled-text', content: section.settings.main-title, text_color: section.settings.heading_color, gradient: section.settings.heading_gradient -%}
        </h2>
      {%- endif -%}
    </div>
      {% endif %}
    
    {%- capture content -%}
      {%- if section.settings.subheading != blank -%}
        <p class="subheading section-subheading">{{ section.settings.subheading | escape }}</p>
      {%- endif -%}

      {%- if section.settings.title != blank -%}
        <p class="h4">
                  {%- render 'styled-text',
                    content: section.settings.title,
                    gradient: section.settings.text_gradient
                  -%}
                </p>
      {%- endif -%}

      {{- section.settings.content -}}

      {%- if section.settings.button_text != blank -%}
        {% render 'button', content: section.settings.button_text, href: section.settings.button_url, size: 'xl', background: section.settings.button_background, text_color: section.settings.button_text_color %}
      {%- endif -%}
    {%- endcapture -%}
  
      <div class="section-stack__main accordian-box-with-image text-with-video">               
          <div class="accordian-box-image" style="background:{{ section.settings.bg_color }};">
            {% if section.settings.icons == true %}
           <img class="acc-shape-left" src="{{ 'video-faq-shapes.png' | asset_url }}"/>
            {% endif %}          
            
              <div class="video-media-wrapper">
                {% if section.settings.video_link != blank %}
                  <video src="{{ section.settings.video_link }}"{% if section.settings.autoplay %} autoplay="autoplay"{% endif %}{% if section.settings.controls %} controls="controls"{% endif %}{% if section.settings.sound %} muted="muted"{% endif %}{% if section.settings.loop %} loop="loop"{% endif %} preload="metadata" playsinline="playsinline"></video>
                {% else %}
                 {{ section.settings.video | video_tag: image_size: '1100x', autoplay: section.settings.autoplay, controls: section.settings.controls, muted: section.settings.sound, loop:section.settings.loop }}  
             {% endif %}
              </div>     
            {% if section.settings.icons == true %}
             <img class="acc-shape-right" src="{{ 'video-faq-Arrow.png' | asset_url }}"/>
            {% endif %}
             
          </div>
               
        {%- if content != blank -%}
      <div class="section-stack__intro">
        <div class="prose {% if text_position == 'center' %}text-center{% endif %}">
          {{- content -}}
        </div>
      </div>
    {%- endif -%}
        
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Text with Video",
  "class": "shopify-section--accordion-content",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "text",
      "id": "main-subheading",
      "label": "Main Subheading"
    },
    {
      "type": "textarea",
      "id": "main-title",
      "label": "Main Heading"
    },
    {
      "type": "text",
      "id": "class",
      "label": "Class"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
  
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Frame Color"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "header",
          "content": "OR"
        },
        {
          "type": "textarea",
          "id": "video_link",
          "label": "Video Link"
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay",
          "default":true
        },
        {
          "type": "checkbox",
          "id": "sound",
          "label": "Sound Disabled",
          "info":"For autoplay Sound must Disabled",
          "default":true
        },
        {
          "type": "checkbox",
          "id": "loop",
          "label": "Loop Video",
          "default":true
        },
        {
          "type": "checkbox",
          "id": "controls",
          "label": "Show Control Bar",
          "default":true
        },
  
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "checkbox",
      "id": "icons",
      "label": "Enable Icons",
      "default":true
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text"
    }
    
  ],
  "presets": [
    {
      "name": "Text with Video"    
    }
  ]
}
{% endschema %}
<style>
  .text-with-video .section-stack__intro {
    width: calc(50% - 40px);
    padding: 0;
}
</style>